apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio-service-db
  labels:
    app: portfolio-service-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: portfolio-service-db
  template:
    metadata:
      labels:
        app: portfolio-service-db
    spec:
      containers:
      - name: postgresql
        image: postgres:13
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          valueFrom:
            configMapKeyRef:
              name: portfolioservice-config
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: portfolioservice-secret
              key: POSTGRES_PASSWORD
        - name: POSTGRES_DB
          valueFrom:
            configMapKeyRef:
              name: portfolioservice-config
              key: POSTGRES_DB
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: postgres-storage
        emptyDir: {}